h1 {
    margin: 2;
    background-color: navy;
    color: lightgray;
    text-align: center;
    padding: 25px;
    border: red groove 10px;
    box-shadow: 1px 10px 10px black;
    border-radius: 25px;
}

p{
    margin: 0;
}